button {
    font-family: Outfit, sans-serif;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button {
    display: inline-block;
    background-color: #e6e6e6;
    color: #000000;
    border: 0;
    gap: 5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  button:hover,
  button:focus {
    background-color: #333;
    color: #ffffff;
  }